@media (min-width: 1024px) {
    .back-button {
        position: relative;
        text-align: left;
        margin-left: 20px;
    }
    .content {
        margin-top: 60px;
        flex-direction: row;
        justify-content: space-between;
    }
    .image-container {
        flex: 0 0 40%;
        order: 1;
    }
    .text-content {
        flex: 1;
        text-align: left;
        order: 2;
    }
    .footer-bottom {
        position: absolute;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .back-button {
        position: relative;
        text-align: left;
        margin-left: 20px;
    }
    .content {
        flex-direction: row;
        gap: 15px;
    }
    .image-container {
        flex: 0 0 40%;
        order: 1;
    }
    .text-content {
        flex: 1;
        text-align: left;
        order: 2;
    }
    .footer-bottom {
        position: absolute;
    }
}

@media (max-width: 767px) {
    .back-button {
        position: relative;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .image-container {
        flex: 0 0 auto;
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
    }
    .text-content {
        flex: 0 0 auto;
        width: 90%;
        font-size: 0.9rem;
        margin-top: 15px;
        text-align: justify;
    }
    .text-content p {
        margin-bottom: 10px;
    }
    .text-content h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        text-align: center;
    }
    .planning-footer {
        font-size: 0.8em;
    }
}