* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
:root {
    --main-color: #055F00;
    --hover-color: #0A7B00;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}
.back-button {
    margin-bottom: 20px;
    text-align: center;
}
.back-button button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.back-button button:hover {
    background-color: var(--hover-color);
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.image-container {
    flex: 0 0 40%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(1.5);
}
.text-content {
    flex: 1;
    text-align: left;
}
.text-content h1 {
    color: #d66161;
    margin-bottom: 10px;
}
.text-content p {
    line-height: 1.6;
    text-align: justify;
    margin: 0 10px;
}
.text-content p + p {
    margin-top: 15px;
}
.footer-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer-bottom .developer strong {
    color: var(--hover-color);
}
.rounded-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; 
    display: block; 
    margin: 0 auto;
}
.planning-footer {
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    background-color: #F5F5F5; 
    color: #055F00; 
    padding: 15px; 
    margin-top: 20px;
}