body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
:root {
    --main-color: #055F00; 
    --hover-color: #0A7B00;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.back-button {
    margin-bottom: 50px;
}

.back-button button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button button:hover {
    background-color: #005f00;
}

.content {
    display: flex;
    gap: 50px;
}
.image-container {
    width: 200px;
    height: 300px;
    overflow: hidden; 
    position: relative;
}
.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transform: scale(1.5); /* Zoom image 150% */
}

.text-content {
    flex: 1;
}

.text-content h1 {
    color: #d66161;
    margin-bottom: 10px;
}

.text-content p {
    line-height: 1.6;
    text-align: justify;
}

.text-content p + p {
    margin-top: 15px;
}
